.feedbackButtonsList {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.feedbackButton {
    padding: 3px 7px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgba(226, 223, 223, 0.747);
}

.feedbackButton:hover {
    background-color: rgb(101, 101, 172);
    cursor: pointer;
}

.feedbackButton:active {
    background-color: rgb(29, 202, 37)
}